<header>
  <div class="tagline">
    <div class="container branding-container">
      Guaranteed Awesome!
    </div>
  </div>
  <div class="container">
    <h1 class="brand-name">Welcome to MEAN Tea!</h1>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': view.isHome()}"><a href="/">Home</a></li>
        <li ng-class="{'active': view.isAbout()}"><a href="/about">About</a></li>
        <li ng-class="{'active': view.isContact()}"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
