
<wct-listing-header></wct-listing-header>

<section class="product-listing">
  <table class="table product-table table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          Tea
        </th>
        <th>
          Information
        </th>
        <th class="text-right">
          <form>
            Sort By Price:
            <select ng-init="viewSettings.priceSortDirection=false"
                    ng-model="viewSettings.priceSortDirection"
                    ng-options="option.value as option.name for option in [{'name':'lo to hi', 'value': false},{'name':'hi to lo', 'value': true}]">
            </select>
          </form>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="tea in teaService.store | filter: filterByCategory | filter: filterByName | orderBy:'price': viewSettings.priceSortDirection">
        <td class="img-cell">
          <img ng-src="{{tea.imageUrl}}"
              alt="{{tea.name}}" />
        </td>
        <td colspan="2">
          <div class="row top-row">
            <div class="col-xs-6">
              <span>{{tea.name}}</span>
            </div>
            <div class="col-xs-6 text-right qty">
              <form name="teaForm"
                    ng-submit="updateCart(tea._id, teaForm);">
                <span>Quantity: </span>
                <select name="qty"
                        ng-init="teaForm.input.qty='1'"
                        ng-model="teaForm.input.qty"
                        ng-options="option for option in [2,3,4,5,6,7,8,9,10]">
                  <option value="1"></option>
                </select>
                <button class="btn btn-sm btn-warning">Add To Bag</button>
              </form>
            </div>
          </div>
          <div class="row info-row">
            <div class="col-xs-12">
              <div><strong>Price: </strong>{{tea.price | addDecimalAndCurrency }}</div>

              <div class="caffeine-section">
                <h4>Caffeine</h4>
                mg/serving: {{tea.caffeineScale}}
                <caffeine-meter caffeinemg="{{tea.caffeineScale}}" id="tea._id"></caffeine-meter>
              </div>

              <div><strong>Ingredients: </strong>{{tea.ingredients}}</div>
              <div><strong>Rating: </strong>{{tea.rating}}</div>
              <div><strong>In Stock? </strong>{{tea.inStock | booleanToYesNo }}</div>
              <div>
                <strong>Categories: </strong>
                <ul>
                  <li ng-repeat="cat in tea.categories">{{cat}}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
