@import '../bootstrap/_bootstrap';
@import '_variables';
@import '_structure';



/*
header {
  padding:1em;
}
nav {
}
.container .row {
}

// ERROR MESSAGES
input.form-control.has-error {
  border-color:red !important;
  border-width: 2px !important;
  background-color: rgba(156,0,0,.1) !important;
}

// Some helpful flexbox classes
.Grid {
  display: flex;
}
.Grid-cell {
  flex: 1;
}
*/
