
header {
  margin-bottom: 3em;
  .tagline {
    background-color: $brand-main;
  }
  .branding-container {
    font-size:1.4em;
    line-height:1em;
    font-weight:bold;
    color:white;
    text-align:center;
  }
  H1.brand-name {
    font-size: 3.3em;
    font-weight:bold;
    font-style: italic;
    color: $brand-main;
  }
  ul.navbar-nav {
    li {
      margin-left:.75em;
    }
  }
}

.listing-function{
  input.form-control {
    // border-color: red !important;
    display:inline-block;
    width:200px;
  }
}

.product-table {
  .top-row {
    display:flex;/*force row elements to same height*/
    .qty {
      white-space: nowrap;
      min-width:240px;
      max-width:250px;
    }
    span {
      display: inline-block;
      font-weight:bold;
      font-size:1.6em;
    }
    select {
      // TODO not sure how to align - but wait for further styling
      // position:relative;
      // margin-top:-50px;
    }
    .btn {
      margin-top:-5px;/*need this to align the btn properly*/
    }
  }
  .img-cell {
    // border:solid red 1px;
    width:25%;
  }
}
