

header {
  .tagline {
    background-color: $brand-main;
  }
  .branding-container {
    font-size:1.4em;
    line-height:1em;
    font-weight:bold;
    color:white;
    text-align:center;
  }
  H1.brand-name {
    font-size: 3.3em;
    font-weight:bold;
    font-style: italic;
    color: $brand-main;
  }
  ul.navbar-nav {
    li {
      margin-left:.75em;
    }
  }
}
